.classpost {
  display: flex;
  flex-direction: row;
  margin: 15px 10px;
  justify-content: flex-start;
  position: relative;
}
.post {
  width: 900px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.postContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 460px;
  width: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 1920px) {
  .postContainer {
    max-height: 630px;
  }
  .lcg {
    max-height: 640px !important;
  }
  .mxH2 {
    max-height: 600px !important  ;
  }
}

@media screen and (max-width: 1440px) {
  .mxH2 {
    max-height: 470px !important;
  }
}

.titleHolder{
  width: 500px !important;
}

.newPost {
  display: flex;
  flex-direction: row;
  width: 90% !important;
  height: 59px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.newPost input {
  width: 70%;
  height: 49px;
  border: 0;
  font-size: 18px;
  font-style: Circular Std;
  font-weight: 450;
  outline: none;
}
.newPost button {
  background: #0a3697;
  border-radius: 4px;
  padding: 10px;
  width: 88px;
  height: 40px;
  font-size: 16px;
  font-style: Circular Std;
  font-weight: 500;
  color: white;
  border: 0;
}

@media screen and (max-width: 1920px) {
  .newPost button {
    margin-right: 20px;
  }
}

.noticeboard {
  width: 361px;
  height: 331px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 20px;
}
.noticeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticeboard h3 {
  font-size: 24px;
  font-style: Circular Std;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 15px;
  height: 28px;
}
.existingPost {
  width: 90% !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.postInfo {
  display: flex;
  flex-direction: row;
}



.postInfo h3 {
  font-size: 16px;
  font-style: Circular Std;
  font-weight: 500;
  margin-top: 15px;
}
.postInfo h5 {
  font-size: 12px;
  font-style: Circular Std;
  font-weight: 500;
  color: #6b6e74;
}
.icon4 {
  font-size: 34px;
  margin-right: 9px;
  margin-left: 15px;
}
.existingPost h4 {
  color: #505050;
  font-size: 16px;
  font-style: Circular Std;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
}
.newComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.newComment input {
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 577px;
  height: 40px;
  padding: 10px;
  font-size: 12px;
  font-style: Circular Std;
  font-weight: 500;
  outline: none;
}
.mt15 {
  margin-top: 15px;
}
.notice {
  margin-left: 15px;
  width: 100%;
}
.noticeInfo {
  display: flex;
  flex-direction: row;
}
.noticeInfo h3 {
  font-size: 16px;
  font-style: Circular Std;
  font-weight: 500;
  margin-top: 15px;
}
.notice h4 {
  font-size: 16px;
  font-style: Circular Std;
  font-weight: 500;
  color: #505050;
}
.notice h5 {
  font-size: 12px;
  font-style: Circular Std;
  font-weight: 500;
  color: #6b6e74;
}
.icon5 {
  font-size: 24px;
}
.mgbm10 {
  margin-bottom: 10px !important;
}
.groupContainer {
  max-height: 530px !important;
  width: 95%;
  overflow-y: scroll;
}

@media screen and (max-width: 1920px) {
  .groupContainer {
    max-height: 710px;
  }
}
