.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
  height: 100%;
}
.maincourse {
  margin: 10px 10px 0px 10px;
  width: 240px;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative;
}
.course {
  position: relative;
  height: 100%;
  width: 100%;
}
.courseTitle {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  padding: 15px 0 0 0;
  height: 65%;
  width: 100%;
  background-color: #0a3697;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.courseTitle h3 {
  font-weight: 500;
  font-size: 18px;
  font-style: Circular Std;
  color: white;
  margin-left: 15px;
}
.courseLecturer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 8px;
}
.courseLecturer h3 {
  font-weight: 500;
  font-size: 13px;
  font-style: Circular Std;
}
.courseLecturer button {
  height: 24px;
  width: 42px;
  padding: 5px;
  font-style: Circular Std;
  font-size: 10px;
  border: 0;
  border-radius: 12px;
  margin-top: 4px;
}
.lectDet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: spac;
}
