.resource {
  position: relative;
  width: 1022px;
  margin: 15px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.resourcesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  position: relative;
  overflow: hidden scroll !important;
}
.icon8 {
  font-size: 56px;
  margin-right: 20px;
}
.resourceDetails h2 {
  font-size: 20px;
  font-weight: 600;
  font-style: Circular Std;
}
.resourceDetails h3 {
  font-size: 14px;
  font-weight: 600;
  font-style: Circular Std;
  color: rgba(0, 0, 0, 0.67);
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.color1 {
  background-color: rgba(10, 54, 151, 0.05);
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resourceContent h4 {
  font-size: 18px;
  font-weight: 400;
  font-style: Circular Std;
}
.resourceContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  width: 100%;
  height: auto !important;
}
.files {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}
.file {
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 313px;
  height: 86px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer !important;
}
.submittedFile {
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 313px;
  height: 66px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.red1 {
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}
.file h2 {
  font-size: 16px;
  font-weight: 600;
  font-style: Circular Std;
}
.file h3 {
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 600;
  font-style: Circular Std;
  color: rgba(0, 0, 0, 0.5);
}
.submittedFile h2 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0175em;
  color: #000000;
}
.submittedFile h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.0175em;
  color: rgba(0, 0, 0, 0.5);
}
.resourceFiles {
  width: 100%;
}
.resources {
  height: calc(100vh - 192px);
}
.filename {
  cursor: pointer !important;
}
.filename h2 {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word {
  color: blue;
}
.ppt {
  color: orange;
}
.pdf {
  color: red;
}
