.logOutCancel {
  width: 124px;
  height: 44px;
  border: 1.5px solid rgba(29, 26, 26, 0.25);
  border-radius: 4px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  background-color: white;
}
.logOutOut {
  width: 124px;
  height: 44px;
  background: #0a3697;
  border-radius: 4px;
  color: white;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
}
.modalButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.modalText h4 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}
.modalText h5 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  color: rgba(29, 26, 26, 0.62);
}
.modalText {
  margin-bottom: 43px;
}
.icon10 {
  font-size: 24px;
}
.modalIcon{
    background: rgba(10, 54, 151, 0.1);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}