.classContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.coursecards {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid 1px rgb(114, 114, 114);
  margin-bottom: 50px;
}
.coursehead {
  background-color: rgb(57, 57, 216);
  height: 60%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  color: white;
  text-decoration: underline;
}
.coursedets {
  height: 40%;
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}
.assignment-body {
  display: flex;
  flex-direction: row;
}
.assignment_content {
  width: 80%;
  padding: 20px;
}
.assignment_submit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 20%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.assignment_submit button {
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding: 2px;
  border: 0;
  border-radius: 12px;
}
.cousre_assignment {
  width: 100%;
}
.assignment_head {
  display: flex;
  flex-direction: row;
}
.icon_ass {
  font-size: 40px;
  margin-right: 5px;
}
.btn-1 {
  color: white;
  background-color: rgb(57, 57, 216);
}

.btn-2 {
  color: rgb(57, 57, 216);
  background-color: white;
  border: 1px solid rgb(57, 57, 216) !important;
}
.hr {
  border: 2px solid rgb(13, 13, 134);
}
.streamHead {
  width: 100%;
  background-color: rgb(57, 57, 216);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.streamHead button {
  margin-top: 10px;
  color: rgb(57, 57, 216);
  background-color: white;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
.Stream {
  width: 100%;
}
.video-icon {
  font-size: 20px;
  margin-right: 10px;
}
.streamUpcoming {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 20%;
}
.streamPost {
  width: 80%;
}
