.Classroom {
  display: flex;
  flex-direction: row;
}
.classroom_sidebar_container {
  width: 20%;
}
.classroom_main_container {
  width: 55%;
}
.classroom_util_container {
  width: 25%;
  height: 100%;
}
