.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.loginform_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logintext {
  width: 50%;
  background-color: rgb(12, 12, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head {
  margin-top: 10%;
  margin-bottom: 20%;
}
.loginhead {
  color: rgb(12, 12, 122);
}
.logintext h1, span{
    color: white;
}
.logintext h3{
    color: rgb(177, 169, 169);
}
.logintext_container{
    margin-left: 15%;
}