.submission-root {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100% !important;
}

.submission-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

.submission-content {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  overflow-y: auto;
  /* height: 650px !important; */
}

.submission-studentlist {
  border-right: 1px solid lightgray;
}

.submission-studentcard {
  padding: 12px 0;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.sub-checkbox {
  margin: 0px 0px 0px 5px;
}

.sub-studentcard-pic {
  margin: 0px 5px;
}

.sub-stdcard-icon {
  font-size: 32px;
}

.sub-studentcard-info p {
  margin: 0 10px;
}

.sub-stdcard-name {
  font-weight: bold;
  font-size: 0.91rem;
}

.sub-stdcard-number {
  font-size: 0.85rem;
}

.submission-content-body {
  padding: 5px 5px;
}
.jIxHED {
  padding: 0 !important;
}

.sub-content-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-content-head-word {
  font-weight: bold;
}

.sub-content-head-mark {
  font-weight: bold;
  color: gray;
}

.sub-content-mainbody {
  width: 100%;
  min-height: 300px;
  border: 1px solid lightgray;
}
.mgl10 {
  margin-left: 20px;
}
.submission-studentcard.selected .sub-stdcard-name {
  color: red;
}
