.doAssignment {
  width: 100%;
  padding: 20px;
}
.assignmentContent {
  width: 100%;
}
.assignmentType h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #505050;
}
.assignmentContentTextHead h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.0015em;
  color: #0a0909;
}
.assignmentContentTextHead h4 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6b6e74;
}
.assignmentContentTextInfo h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0175em;
  color: #6b6e74;
  margin-top: 20px;
}
.assignmentContentText h4 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #6b6e74;
  margin-top: 20px;
}
.assignmentYourWork {
  width: 381px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.assignmentYourWork {
  width: 30%;
  padding: 20px;
  justify-content: space-between;
}
.assignmentContentText {
  width: 65%;
}
.assignmentYourWork h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0a0909;
}
.addFile {
  width: 295px;
  height: 44px !important;
  background: #0a3697;
  border-radius: 4px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 0;
}
.addFile2 {
  /* width: 295px; */
  height: 84px !important;
  background: #0a3697;
  border-radius: 4px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 0;
}
.Create {
  width: 295px;
  height: 44px;
  background: #ffffff;
  border: 1.5px solid rgba(29, 26, 26, 0.25);
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d1a1a;
}
.green {
  color: green !important;
  font-weight: bolder;
}
main {
  width: 70%;
  margin: auto;
  text-align: center;
}

main button {
  margin-top: 20px;
  background-color: #2d8cff;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

main button:hover {
  background-color: #2681f2;
}
