.classroom_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sidebar_button {
  display: flex;
  flex-direction: column;
}
.sidebar_button btn {
  width: 270px;
  border-radius: 30px;
  margin-bottom: 40px;
  border: 0;
  font-size: 20px;
  padding: 10px;
}
.sidebar_button btn:hover {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.active {
  background-color: white !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.blue {
  color: rgb(12, 12, 122);
  font-weight: bold;
  align-items: center;
}
.sidebar_head {
  margin-top: 50px !important;
  margin-bottom: 45px !important;
  color: rgb(38, 38, 199);
  font-weight: bold;
}
.sidebar_util {
  margin-top: 20%;
}
.head {
  font-weight: bold;
}
.icon {
  font-size: 45px;
  margin-right: 10px;
  margin-left: 10px;
}
