.focus:focus {
  border-color: blue !important;
}
.loginBtn {
  background-color: orange !important;
  margin-top: 7%;
}
.loginBtn:hover {
  background-color: orangered !important;
}
.LoginForm input,
button {
  width: 500px;
  padding: 10px !important;
  font-size: 26px !important;
  border-radius: 10px;
  border: 2px solid gray;
}
.LoginForm p {
  color: rgb(12, 12, 122);
}
.F-pass {
  margin-top: 10px;
  text-align: right;
}
.loginEmail {
}

#UserLogin {
  margin-bottom: 50px !important;
}
