.assignmentList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.assignment {
  width: 237px;
  height: 188px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.assignment h3 {
  font-weight: 500;
  font-size: 16px;
  font-style: Circular Std;
  margin-left: 10px;
  margin-top: 10px;
}
.assignment h5 {
  font-weight: 500;
  font-size: 14px;
  font-style: Circular Std;
  color: #6b6e74;
  margin-left: 10px;
}
.assignment h4 {
  font-weight: 700;
  font-size: 12px;
  font-style: Circular Std;
  color: #6b6e74;
  margin-left: 10px;
  margin-top: 27px;
}
.assignment button {
  height: 24px;
  width: 56px;
  padding: 5px;
  font-style: Circular Std;
  font-size: 10px;
  border: 0;
  border-radius: 12px;
  /* margin-top: 4px; */
  margin-left: 10px;
}
.assignment span {
  margin-left: 10px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.icon7 {
  font-size: 22px;
  margin-right: 10px;
}
.red {
  color: red;
}
.blue {
  color: #0a3697;
}
.green {
  color: #4cc82d;
}
