.courseTitle h3 {
  font-weight: 500;
  font-size: 18px;
  font-style: Circular Std;
  color: white;
  margin-left: 15px;
}
.courseLecturer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 8px;
}
.courseLecturer h3 {
  font-weight: 500;
  font-size: 13px;
  font-style: Circular Std;
}
.courseLecturer button {
  height: 24px;
  width: 42px;
  padding: 5px;
  font-style: Circular Std;
  font-size: 10px;
  border: 0;
  border-radius: 12px;
  margin-top: 4px;
}
.icon2 {
  font-size: 20px;
  margin-right: 4px;
}
.lectDet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: spac;
}
