.passwordChangeModal {
}
.modalText h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1d1a1a;
}
.modalText h4 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  color: rgba(29, 26, 26, 0.62);
}
.cancelBTN {
  width: 88px;
  height: 44px;
  background: #ffffff;
  border: 1.5px solid rgba(29, 26, 26, 0.25);
  border-radius: 4px;
}
.changePasswordBTN {
  width: 172px;
  height: 44px;
  background: #0a3697;
  border-radius: 4px;
  color: white;
}
.jcsb {
  justify-content: space-between;
}
.moadlIcon {
  margin-bottom: 20px;
}
