body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
hr{
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  text-transform: none;
}

.span {
  color: black !important;
}

.logintext {
  color: black !important;
}