.courses {
  width: 100%;
}
.title h3 {
  font-style: Circular Std;
  font-size: 34px;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 26px;
}
.headers {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}
.overview h3 {
  font-style: Circular Std;
  font-size: 16px;
  margin-right: 38px;
}
.schedule h3 {
  font-style: Circular Std;
  font-size: 16px;
}
.active1 {
  color: blue !important;
}
.coursestab {
  padding: 0;
  margin: 0;
}